{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ======= Hero Section ======= -->
<div id="hero" class="hero route bg-image" style="background-image: url({% static 'assets/img/hero3-bg.jpg' %})">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">Yo soy Jelsin Palomino</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Developer, Data Analytics, Economics, Freelancer"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route">
    <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Nuevo proyecto
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
    <div class="container">
      
      <div class="row">
        {% if request.user.is_authenticated %}
        <div class="col-md-2">
          <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar Sessión</a>
        </div>
        <div class="col-md-2">
          <a href="{% url 'index' %}" class="btn btn-primary">Inicio</a>          
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Ingresar nuevo proyecto
                    </h5>
                  </div >
                <div class="container">
                  <form method="post" novalidate>
                    {% csrf_token %} 
                  
                    {{ form.as_p }}
                  
                    <button class="btn btn-primary" type="submit">Crear</button>
                  </form>
                </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Descripción
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      En esta sección, vamos a agregar los nuevos proyectos que 
                      se realizaron para tenerlos dentro del portafolio y que se 
                      muestre en su sección correspondiente.
                    </p>
                    <ul class="list-ico">
                      <li><span class="bi bi-geo-alt"></span> Sicuani - Canchis - Cusco</li>
                      <li><span class="bi bi-phone"></span> (+51) 931-722006</li>
                      <li><span class="bi bi-envelope"></span> jstpalomino@hotmail.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.facebook.com/jelsinstalin.palominohuaytapuma.1/"><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                      <li><a href="https://www.instagram.com/jelsinpalomino/"><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                      <li><a href="https://twitter.com/HstpJelsin"><span class="ico-circle"><i class="bi bi-twitter"></i></span></a></li>
                      <li><a href="https://www.linkedin.com/in/jstpalomino/"><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

{% endblock content %}